   a {text-decoration: none;}
    
     @font-face {
    font-family: 'basictitlefont'; /*a name to be used later*/
    src: url('basictitlefont.ttf'); /*URL to font*/
}
       
       
      
       .boxed { 
         background-color: #00FF00;
         margin-left: auto;
         margin-right: auto;
         font-family: 'basictitlefont';
        }
       
       
       img {
    width: 200px;
    border-radius: 50%;
    
}

h1 {
    color: #00FF00;
      font-family: 'basictitlefont';
}

body { 
    text-align: center;
     font-family: 'basictitlefont';
     font-size: 400%;
     font-weight: bold;
     color: black;
     background-image: url("stars-06.jpg");
     
}

  
      