<style>
       .boxed {
         background-color: white;
        }
       
       
       img {
    width: 200px;
    border-radius: 50%;
    
}

body { 
    text-align: center;
     font-size: 200%;
     color: white;
     background-image: url("stars-06.jpg");
}
           
       </style>
