
       .boxed {
         background-color: #00FF00;
         width: 500px;
         margin-left: auto;
         margin-right: auto;
        }
       
       
       img {
    width: 200px;
    border-radius: 50%;
    
}

h1 {
    color: #00FF00;
}

body { 
    text-align: center;
     font-size: 200%;
     color: black;
     background-image: url("stars-06.jpg");
}

  
      